# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.db
*.opendb

# Folders
.vs
Release
Debug

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
