# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Folders
./x86/.vs
./x86/Sobel/Release
./x86/Sobel/Debug
./x86/Release
./x86/Debug

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
